# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HomeWork\python_im_caculate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
